  <style>
  .table{
    color: greenyellow;
  }
  h2{
    display: flex;
    font-size:120px;
    color: greenyellow;
    text-align:center;
  }
  .card-img-top{
    width: 100%;
    height: 250px;
  }

  </style>



<% if account_signed_in? %>
<h2>WELLCOME TO E-COMMERCE WEBSITE</h2>
<% end %>

<div class="container">
    <div class="row">
    <% @products.each do |pro| %>
      <div class="col">

        <div class="card" style="width: 18rem;">

          <%= image_tag (url_for(pro.image)) ,class:"card-img-top"%>

          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"><%= pro.description %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="text-decoration-line-through">Actual Price -<%= pro.actual_price %></span></li>
            <li class="list-group-item">Current Price -<%= pro.current_price %></li>
          </ul>
          <div class="card-body">
              <a href="#" class="btn btn-outline-success"><i class="bi bi-cart2"></i> Add To Cart</a>
              <%# <%= link_to <i class="bi bi-cart2">,new_customer_cart_path(product_id:pro.id,price:pro.current_price),class:"btn btn-outline-success"%> 
              <a href="#" class="btn btn-outline-primary">Buy Now</a>
          </div>
        </div>
      </div>
      <% end %>
    </div>
</div>


 <div class="row">
<%= will_paginate @products, class: "digg_pagination mt-2 col-4 offset-4" %>
 </div>
