


<style>
    
body{
    background-color:black;
    height:100% ;
  }

  a{
    
    color:greenyellow;
  }  
.container{
    margin:auto;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:25px;
    width: 35%;
    color:greenyellow;
    border-radius:25px;
    box-shadow: 0px 0px 8px 2px greenyellow;
  }
  .radio{
    margin: 0 10px 0 0;
  }
  
  .inp{
    
    width: 100%;
    height: auto;
    margin:5px;
    font-size:20px;
  }
  .lab{
    color:greenyellow;
    font-size:20px;
}


</style>



<div class="container">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"inp" %>
    <p>We'll never share your email with anyone else.</p>
  </div>
  
<div class="field">
  <%= f.radio_button :roles,"seller", class:"radio" %>Seller    
  <%= f.radio_button :roles, "customer" , class:"radio"%>Customer
  </div>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" ,class:"inp" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"inp" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up",class:"btn btn-success" %>
  </div>
<% end %>

<%= render "devise/shared/links"  %>
</div>